body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

.sorting-container, .filter-container, .paging_num {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sorting-container button, .paging_num select, .filter-container select {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sorting-container button:hover, .paging_num select:hover, .filter-container select:hover {
    background-color: #45a049;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.pokemon-card h3 {
    font-size: 24px;
    margin: 10px 0;
}

.pokemon-card p {
    font-size: 16px;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:focus {
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
